/*通用样式*/
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,dl,dt,dd,ol,ul,li,span,b,img,input,label{ padding:0px; margin:0px; border:0;}
body { background-color:#FFF; color:#333; font-family:Arial, Verdana, "宋体"; font-size:12px; font-style:normal; font-weight:normal; font-variant:normal; background-image:none; line-height:150%;}
.fl { float:left;}
.fr { float:right;}
.oh { overflow:hidden;}
.clr { clear:both; height:0px; line-height:0px; overflow:hidden; display:block; font-size:0px;}
.w { width:1210px; margin:0 auto;}

ol,ul { list-style-type:none; list-style-position:outside; list-style-image:none;}
a:link,a:visited { color:#333; text-decoration:none;}
a:hover {color:#F00; text-decoration:underline;}